{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "prettier",
    "jest"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "no-console": 1,
    "prettier/prettier": ["error", {
      "endOfLine":"auto"
    }],
    "max-len": ["error", { "code": 300 }],
    "lines-between-class-members": ["error", "always"]
  },
  "env": {
    "browser": true,
    "node": true,
    "jest/globals": true
  }
}