{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "prettier",
    "jest"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
  ],
  "rules": {
    "no-console": 1,
    "prettier/prettier": 2,
    "function-paren-newline": ["error", "never"],
    "max-len": ["error", { "code": 200 }]
  },
  "env": {
    "browser": true,
    "node": true,
    "jest/globals": true
  }
}